* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  user-select: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

.search__drum {
  position: absolute;
  /* top: 127px; */
  /* left: 14px; */
  top: 200px;
  left: 114px;
  width: 104px;
  height: 24px;
  perspective: 500px;
  /* transform: scale(0.8); */
}

.search__drum-container {
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
}

.search__drum-side {
  outline: 1px solid #ccc;
  position: absolute;
  width: inherit;
  height: inherit;
  backface-visibility: hidden;
  font-family: SF Pro Text;
  font-size: 20px;
  text-align: right;
  letter-spacing: 2px;
  color: #e2e2e2;
}

.span--place,
.span--hall {
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}

.span--hall {
  top: 6px;
  left: 110px;
}

.span--place {
  top: 6px;
  left: -73px;
  display: flex;
  justify-content: flex-end;
  min-width: 70px;
}

.side__span-place2 {
  margin-left: 5px;
  text-align: right;
}